#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  height: 28rem;
  width: 20rem;
  display: grid;
  transform-style: preserve-3d;

  &.card--front {
    animation: cardFlip 0.275s forwards linear;
  }

  &.card--back {
    animation: cardUnFlip 0.275s forwards linear;
  }

  .cornerIndicator {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-top: 25px solid red;
    border-top-right-radius: 10px;
    backface-visibility: visible;

    justify-self: end;
    align-self: start;
  }
}

.card>* {
  grid-area: 1 / 1;
  transform-style: preserve-3d;
}

.card .frontSide {
  height: 100%;
  width: 100%;
  background-color: blanchedalmond;
  display: grid;
  backface-visibility: hidden;

  border-radius: 10px;

  .name {
    align-self: start;
    justify-self: center;
    font-size: 56px;
    font-weight: 700;
    color: black;
  }
}

.card .backSide {
  height: 100%;
  width: 100%;
  background-color: blanchedalmond;
  display: grid;
  backface-visibility: hidden;
  transform: rotateY(180deg);

  border-radius: 10px;

  .content {
    color: black;
    align-self: start;
    justify-self: center;
  }
}

.cardButtons {
  width: 100%;

  align-self: end;
  margin-bottom: 1rem;

  display: flex;
  flex: auto;
  flex-direction: row;
  justify-content: space-around;
}

@keyframes cardUnFlip {
  0% {
    transform: rotateZ(0deg) rotateY(0deg);
  }

  50% {
    transform: rotateZ(-10deg) rotateY(90deg);
  }

  100% {
    transform: rotateZ(0deg) rotateY(180deg);
  }
}

@keyframes cardFlip {
  0% {
    transform: rotateZ(0deg) rotateY(180deg);
  }

  50% {
    transform: rotateZ(-10deg) rotateY(90deg);
  }

  100% {
    transform: rotateZ(0deg) rotateY(0deg);
  }
}
