body {
  background-color: #1e1e2e;
  justify-content: center;
}

.but {
  &:hover {
    scale: 1.1;
  }

  &:active {
    scale: 0.9;
  }

  transition: scale 0.2s;
}

.cardButton {
  height: 80px;
  width: 80px;
  padding: 0;
  margin: 15px;
  background: none;
  border: none;
}

.buttonIcon {
  height: 100%;
  width: 100%;
  border: none;
}

.app {
  display: flex;
  flex-direction: column;

  .choose {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.cardSlot {
  max-height: 80vh;
  height: 500px;

  max-width: 80vw;
  width: 330px;

  align-self: center;
  justify-self: center;
  display: grid;

  background-color: #181825;
  border-radius: 10px;
}

.cardSlot > * {
  grid-area: 1 / 1;
}
