.card {
  height: 100%;
  width: 100%;
  border-radius: inherit;

  display: grid;
  transform-style: preserve-3d;

  .cornerIndicator {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-top: 25px solid red;
    border-top-right-radius: inherit;

    justify-self: end;
    align-self: start;
  }
}

.card > * {
  grid-area: 1 / 1;
  transform-style: preserve-3d;
}

.card .frontSide {
  height: 100%;
  width: 100%;
  background-color: blanchedalmond;
  border-radius: inherit;

  display: grid;

  backface-visibility: hidden;

  .name {
    margin-top: 3rem;
    align-self: start;
    justify-self: center;
    font-size: 56px;
    font-weight: 700;
    color: black;
  }

  .cardButtons {
    width: 100%;

    align-self: end;

    display: flex;
    flex: auto;
    flex-direction: row;
    justify-content: space-around;
  }
}

.card .backSide {
  height: 100%;
  width: 100%;
  background-color: blanchedalmond;
  border-radius: inherit;

  display: grid;
  backface-visibility: hidden;
  transform: rotateY(180deg);

  .content {
    color: black;
    align-self: start;
    justify-self: center;

    padding: 10px;
    text-align: center;
  }
}
